* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merienda, cursive;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.header img {
  width: 100px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login input {
  padding: 8px;
  margin: 5px;
  border-radius: 40px;
  border: none;
  width: 250px;
  outline: 0;
}

.trybewarts-login button {
  margin-right: 10px;
  margin-left: 4px;
  border-radius: 40px;
  cursor: pointer;
  width: 250px;
  border: none;
  background-color: rgb(47 216 184);
  color: white;
  font-size: 25px;
}

#trybewarts-header-title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 80px;
  margin-bottom: 10px;
}

main {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

main form {
  width: 675px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

fieldset {
  border: none;
  text-align: center;
}

#input-name {
  width: 40%;
  padding: 1px;
}

#input-lastname {
  width: 40%;
  padding: 1px;
}

#input-email {
  width: 40%;
  margin-top: 10px;
  padding: 1px;
}

#house {
  width: 40%;
}

.main img {
  height: 500px;
}

fieldset:nth-of-type( 2 ) {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

fieldset:nth-of-type( 2 ) input {
  margin: 8px;
}

fieldset:nth-of-type( 3 ) {
  text-align: center;
  margin-bottom: 15px;
}

fieldset:nth-of-type( 3 ) label {
  display: block;
}

.subject {
  margin: 8px;
}

fieldset:nth-of-type( 4 ) {
  margin-bottom: 15px;
}

fieldset:nth-of-type( 4 ) input {
  margin-left: 5px;
}

fieldset:nth-of-type( 5 ) {
  margin-bottom: 30px;
}

#submit-btn {
  margin-top: 20px;
  border-radius: 40px;
  cursor: pointer;
  width: 250px;
  border: none;
  background-color: rgb(47 216 184);
  color: white;
  font-size: 25px;
  display: flex;
  align-self: center;
  justify-content: center;
}
